<!- Aless si Alexandra -->
<!- flash.html este pagina web de introducere a intrebarii la care se asteapta raspuns -->
<html>
   <body>
      <form action = "http://localhost:5000/login" method = "post">

<p>Enter question:</p>

<!- Cand se apasa pe buton de submit se transmite intrebarea la qa_flash.py unde se va parsa-->
<p><input type="text" id="docpicker" name="tname"></p>

<!- La submit se va transmite raspunsul pentru intrebarea transmisa din field -->
<p><input type = "submit" value = "submit" /></p>

      </form>
   </body>
</html>